.box {
  height: 60px;
  font-size: 150%;
  background-color: #b5915f;
  text-align: center;
  border-style: groove;
}

.hover-right-box:hover {
  border-right-color: purple;
}

.hover-bottom-box:hover {
  border-bottom-color: purple;
}

.clicked-tile {
  background-color: #844b27;
}
.option-tile {
  background-color: yellow;
}
.victory-tile {
  background-color: green;
}

.peon {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: blue;
}

.wall {
  height: 120px;
  width: 10px;
  text-align: center;
}

.horizontal-wall {
  height: 10px;
  width: 120px;
  text-align: center;
}

.posible-wall {
  background-color: #43341f;
  opacity: 0.8;
}

.select-wall {
  border-style: solid;
  border-color: yellow;
}

.wall-right {
  border-right-color: purple;
  border-right-style: solid;
}

.wall-left {
  border-left-color: purple;
  border-left-style: solid;
}

.wall-up {
  border-top-color: purple;
  border-top-style: solid;
}

.wall-down {
  border-bottom-color: purple;
  border-bottom-style: solid;
}

.clickable {
  color: green;
  cursor: pointer;
}
.clickable:hover {
  color: lightgreen;
}
